## All about Pandas
Learning this.

In [10]:
import pandas as pd
iris=pd.read_csv("Downloads/iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [14]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [23]:
df=iris.copy()
df.head(3)
df.shape
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [37]:
df.columns=['sl','sw','pl','pw','flower_type']
df.dtypes
df.head()
df.describe()
df.flower_type
df["sl"]
df.isnull()
df.isnull().sum()
df.iloc[0]
df.loc[4]

sl                     5.4
sw                     3.9
pl                     1.7
pw                     0.4
flower_type    Iris-setosa
Name: 4, dtype: object

In [39]:
df.iloc[1:4,2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

In [53]:

df.drop(5,inplace=True)
df.head()
df.head()

    sl   sw   pl   pw  flower_type
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

In [55]:
df.columns
df.index

Int64Index([  3,   4,   6,   7,   8,   9,  10,  11,  12,  13,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=145)

In [64]:
df.drop(df.index[[0,1]],inplace=True)
df.head()

     sl   sw   pl   pw  flower_type
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa

In [67]:
df[df.sl>5]
df[df.flower_type=="Iris-setosa"]
df[df.flower_type=="Iris-setosa"].describe()

     sl   sw   pl   pw  flower_type
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
34  5.0  3.2  1.2  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa
37  4.4  3.0  1.3  0.2  Iris-setosa
38  5.1  3.4  1.5  0.2  Iris-setosa
39  5.0  3.5  1.3  0.3  Iris-setosa
40  4.5  2.3  1.3  0.3  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa
42  5.0  3.5  1.6  0.6  Iris-setosa
43  5.1  3.8  1.9  0.4  Iris-setosa
44  4.8  3.0  1.4  0.3  Iris-setosa
45  5.1  3.8  1.6  0.2  Iris-setosa
46  4.6  3.2  1.4  0.2  Iris-setosa
47  5.3  3.7  1.5  0.2  Iris-setosa
48  5.0  3.3  1.4  0.2  Iris-setosa

In [71]:
##adding row
df.loc[0]=[1,2,3,4,"Abcd"]
df.head()
df.tail()

      sl   sw   pl   pw     flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0            Abcd

In [77]:
#to reset index
df.reset_index()
df.reset_index(drop=True)
df.head()
df.reset_index(drop=True,inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.1  1.5  0.1  Iris-setosa
1  5.4  3.7  1.5  0.2  Iris-setosa
2  4.8  3.4  1.6  0.2  Iris-setosa
3  4.8  3.0  1.4  0.1  Iris-setosa
4  4.3  3.0  1.1  0.1  Iris-setosa

In [85]:
#to remove column
#df.drop('sl',axis=1)
df.head()
df.drop('sw',axis=1,inplace=True)
df.head()

    pl   pw  flower_type
0  1.5  0.1  Iris-setosa
1  1.5  0.2  Iris-setosa
2  1.6  0.2  Iris-setosa
3  1.4  0.1  Iris-setosa
4  1.1  0.1  Iris-setosa

In [86]:
df.head()

    pl   pw  flower_type
0  1.5  0.1  Iris-setosa
1  1.5  0.2  Iris-setosa
2  1.6  0.2  Iris-setosa
3  1.4  0.1  Iris-setosa
4  1.1  0.1  Iris-setosa

In [90]:
#to add a column
df["diff"]=df["pl"]-df["pw"]
df.head()
del df["diff"]
df.head()

    pl   pw  flower_type
0  1.5  0.1  Iris-setosa
1  1.5  0.2  Iris-setosa
2  1.6  0.2  Iris-setosa
3  1.4  0.1  Iris-setosa
4  1.1  0.1  Iris-setosa

In [92]:
df.head()

    pl   pw  flower_type
0  1.5  0.1  Iris-setosa
1  1.5  0.2  Iris-setosa
2  1.6  0.2  Iris-setosa
3  1.4  0.1  Iris-setosa
4  1.1  0.1  Iris-setosa

In [96]:
#to add a NaN value
import numpy as np
df.iloc[2:4,1:3]=np.nan
df.head()

    pl   pw  flower_type
0  1.5  0.1  Iris-setosa
1  1.5  0.2  Iris-setosa
2  1.6  NaN          NaN
3  1.4  NaN          NaN
4  1.1  0.1  Iris-setosa

In [100]:
df.dropna(inplace=True)
df.head()

    pl   pw  flower_type
0  1.5  0.1  Iris-setosa
1  1.5  0.2  Iris-setosa
4  1.1  0.1  Iris-setosa
5  1.2  0.2  Iris-setosa
6  1.5  0.4  Iris-setosa